<div class="rest-head">
<h1 >{{Name}}</h1>
</div>
<div class="restaurant">
  
  <img class="rest-img" src={{Image}} alt="{{name}}">
  <div class="rest-text">
    
  
  <h3>Webite: <a href={{Webpage}} class="ahover" target="_blank">{{Name}}</a></h3>
  <h3>{{Address}}</h3>
  </div>
  
  
</div>